/**
 * Plugin Name: SQL Query Exec
 * Author: Mattia Roccoberton
 * Author URI: http://blocknot.es
 * License: GPL3
 */

.wpdberror {
	border: 1px solid red;
	padding: 5px;
}

#wpd-credits {
	float: right;
	font-style: italic;
}

#wpd-message {
	border: 1px solid #888;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

#wpd-php-output {
	background: #000;
	border: 1px solid #888;
	color: #ddd;
	font-family: Consolas, monospace;
	margin-right: 20px;
	padding: 10px;
}

#wpd-query, #wpd-prev-query { width: 100%; }

#wpd-results-wrapper {
	border: 1px solid #888;
	margin-top: 10px;
	overflow: auto;
	width: 100%;
}
#wpd-results {
	background: #fff;
	border-spacing: 1px;
	color: #000;
	font-size: 10pt;
	text-align: left;
	width: 100%;
}
#wpd-results th {
	background: #888;
	border-bottom: 1px solid #aaa;
	color: #fff;
	padding: 1px 4px;
}
#wpd-results .c1 {
	font-style: italic;
	font-weight: bold;
	text-align: center;
}
#wpd-results tr.even {
	background: #ccc;
}
#wpd-results tr.odd {
	background: #ddd;
}

#wpd-warning {
	border: 1px solid #FA0;
	font-style: italic;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
}
